@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

:root{
--primary:#e10600;
--dark:#0b0b0b;
--light:#f5f5f5;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#fff;
color:#222;
line-height:1.7;
}

/* HEADER */
header{
position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,.85);
backdrop-filter:blur(8px);
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
transition:.3s;
}

.logo{
color:#fff;
font-weight:700;
font-size:20px;
}

.logo span{
color:var(--primary);
}

nav{
display:flex;
gap:25px;
}

nav a{
color:#fff;
text-decoration:none;
font-size:14px;
position:relative;
}

nav a::after{
content:"";
position:absolute;
bottom:-5px;
left:0;
width:0;
height:2px;
background:var(--primary);
transition:.3s;
}

nav a:hover::after{
width:100%;
}

/* HERO */
.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('hero.jpg') center/cover no-repeat;
display:flex;
align-items:center;
padding:0 8%;
color:#fff;
margin-top:70px;